body{
    background: #000;
    color: #fff;
}
#mainValue{
    font-size: 3em;
}
.buyButton{
    font-size: 1em;
    width: 10em;
    height: 2em;
}
#resetButton{
    margin-top: 10em;
    background-color: rgb(194, 3, 3);
    border-color: #760404;
}