body{
    background: #000;
    color: #fff;
}
#mainValueContainer{
    font-size: 3em;
}
.buyButton{
    font-size: 1em;
    width: 12em;
    height: 2em;
}
.maxButton{
    font-size: 1em;
    width: 7em;
    height: 2em;
}
#resetButton{
    margin-top: 10em;
    background-color: rgb(194, 3, 3);
    border-color: #760404;
}
.firstPrestige{
    background-color: #2538c3;
    border-color: #16259a;
}
.secondPrestige{
    background-color: #25c354;
    border-color: #1fa347;
}
.thirdPrestige{
    background-color: #d87717;
    border-color: #ae6113;
}
#infoBar{
    background-color: #000;
    border-color: white;
    border-bottom: 0.1em solid;
}
.prestigeBarButton{
    width: 7em
}
#selectDebugLayerButton{
    background-color: #434343;
    border-color: #171717;
}